
@import url('https://fonts.googleapis.com/css2?family=Avenir&display=swap');


body {
  font-family: 'Avenir', sans-serif; 
  background-color: #000000; 
  color: #ffffff; 
  line-height: 1.6;
  padding: 20px;
}


header h1 {
  font-family: 'Avenir', sans-serif;
  color: #d2bb3a; 
  margin-bottom: 20px;
  letter-spacing: 2px;
}


nav a:hover, footer a:hover {
  color: #000000; 
  background-color: #d2bb3a;
}


footer {
  color: #ffffff; 
}

footer a {
  color: #d2bb3a;
}


section h2 {
  font-family: 'Avenir', sans-serif;
  color: #d2bb3a; 
  margin-bottom: 30px;
}

.about-me-img {
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto; 
  object-fit: cover; 
  border: 5px solid #d2bb3a; 
}

.btn-gold {
    background-color: #d2bb3a !important; 
    color: #ffffff !important; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-gold:hover {
    background-color: #bfa204 !important; 
    color: #ffffff !important; 
  }


.proficiencies-icons i {
  font-size: 1.5rem;  
  color: #000000;     
  margin: 10px;      
}

/* Add consistent margin between buttons */
.card-body .btn {
  margin-right: 10px;  /* Adds space between buttons */
  margin-bottom: 10px; /* Adds space if buttons stack vertically on smaller screens */
}

